<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Salon"



        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"

        tools:targetApi="31">
        <activity
            android:name=".InfoActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".HomeActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".Booking_sel_locale"
            android:exported="false">

        </activity>
        <activity android:name=".Booking_sel_schedule"
            android:exported="false">
        </activity>

        <activity android:name=".booking_sel_staff"
            android:exported="true">
        </activity>
        <activity android:name=".booking_confirm"
            android:exported="false">
        </activity>

        <activity
            android:name=".LookbookActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".LookbookLong"
            android:exported="false">
        </activity>

        <activity
            android:name=".RegisterActivity"

            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForgotActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false">

        </activity>
        <activity android:name=".NotiActivity"
            android:exported="false">

        </activity>
        <activity android:name=".Product"
            android:exported="false">

        </activity>
        <activity android:name=".Payment_1"
            android:exported="false">

        </activity>
        <activity android:name=".Payment_2"
            android:exported="false">

        </activity>
        <activity android:name=".Profile"
            android:exported="false">

        </activity>
        <activity android:name=".Shopping"
                android:exported="false">

        </activity>
        <activity android:name=".History"
                  android:exported="false">

        </activity>
        <activity android:name=".test"
            android:exported="true">

        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>